[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
requests = "*"
django-heroku = "*"
gunicorn = "*"
whitenoise = "*"
django-webpack-loader = "*"
pytz = "*"
psycopg2 = "*"
dj-database-url = "*"
certifi = "*"
idna = "*"
sqlparse = "*"
urllib3 = "*"

[dev-packages]

[requires]
python_version = "3.9"
